/* Colors variables */
:root {
    --bg-color: rgb(0,0,0);
    --text-color: rgb(255,255,255);
    --text-color2: rgb(255,255,255);
    --primary-color: #46B4F2;
    --secondary-color: #404040;
    --accent-color: #FFFFFF80;
}

.light-mode{
    --bg-color: #46B4F2;
    --text-color: rgb(255,255,255);
    --text-color2: rgba(0,0,0,.6);
    --primary-color: rgb(255,255,255);
    --secondary-color: rgb(255,255,255);
    --accent-color: rgb(163,217,248);

}

/* General styles */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 90vh;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--text-color2);
}

html {
    scroll-behavior: smooth;
}

/*Navbar*/

.navbar {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 2rem;
}

.logo img {
    height: 2rem;
}

.dark_btn {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1.5rem;
    width: 3rem;
    border-radius: 2rem;
    background-color: var(--bg-color);
    border: solid 2px var(--accent-color);
    margin: 0 2rem;
    padding: 0.2rem;
    cursor: pointer;
}

.select {
    position: relative;
    align-self: flex-end;
    height: 100%;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--text-color);
}

.day,
.night {
    padding: 0.15rem;
    font-size: 1.2rem;
    color: var(--bg-color);
}


/*Landing page*/

section {
    min-height: 100vh;
    height: fit-content;
    position: relative;
    display: flex;
    overflow: hidden;
}

.wom_img {
    position: absolute;
    bottom: -18%;
    right: 0%;
    min-height: 800px;
    height: 130%;
    z-index: -1;
}

.bg_text {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 30rem;
    color: rgba(255, 255, 255, 0.30);
    letter-spacing: 1rem;
    line-height: 0.8;
    text-align: center;
    top: -5%;
    left: -10%;
    font-weight: 800;
    z-index: -2;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    padding: 5rem;
    gap: 1rem;
}

.title_main {
    display: flex;
    position: relative;
}

.rect {
    height: 2rem;
    width: 2rem;
    background-color: var(--text-color);
    justify-self: end;
    align-self: end;
    margin: 1rem 0.5rem;
}

.title_text {
    font-size: 8rem;
    line-height: 98%;
}

.text_landing {
    font-size: 1rem;
    width: 28rem;
    text-align: justify;
    font-weight: 300;
}

.download_container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.download_container i {
    font-size: 1.7rem;
    cursor: pointer;
}

.download_btn {
    color: var(--bg-color);
    background-color: var(--text-color);
    border-radius: 3rem;
    cursor: pointer;
    padding: 0.8rem 1rem;
}

/*Current events section*/

.current_events {
    flex-direction: column;
    margin-bottom: 6vh;
}

.current_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 80%, transparent 100%);
    z-index: -1;
}

.heading {
    font-weight: 800;
    font-size: 5.6rem;
    color: var(--text-color);
    margin: 7rem;
    margin-bottom: 0;
}

.card_section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 4rem 7rem;
    margin-bottom: 0;
    gap: 1rem;
}

.card_container {
    display: flex;
    width: 100%;
    margin: 0 -0.5rem;
}

.section_title p {
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: 400;
}

.card {
    height: 23rem;
    width: 16rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    margin: 0 0.5rem;
}

.card p {
    padding: 1rem 2rem;
}

.card p a {
    color: #46B4F2;
    cursor: pointer;
}

.card_img {
    width: 100%;
}

.fade_last {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 10%, transparent 100%);
}

.slick-arrow.slick-disabled {
    display: none !important;
}

.arrow_left,
.arrow_right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 0.5rem;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.arrow_left {
    left: 0%;
}

.arrow_right {
    right: 0%;
}

/*About us section */

.aboutus {
    overflow: hidden;
    padding-bottom: 15vh;
    margin-bottom: 6vh;
}

.ribbon {
    position: absolute;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0.6rem;
    gap: 3rem;
    font-weight: 800;
    font-size: 2.2rem;
}

.ribbon i {
    font-size: 1.4rem;
}

.r_grey {
    background-color: var(--accent-color);
    color: var(--text-color);
    rotate: 25deg;
    bottom: 38%;
    right: -10%;
}

.r_white {
    rotate: -35deg;
    top: -40%;
    right: 40%;
    background-color: var(--text-color);
    color: var(--bg-color);
    z-index: -1;
    transform-origin: right;
}

.girl_img {
    position: absolute;
    height: 25rem;
    left: 10%;
    bottom: 0%;
    z-index: 1;
}

.text_col {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 3rem;
    margin-top: 4rem;
    width: 100%;
}

.float_title {
    rotate: 25deg;
    margin-right: 9rem;
    margin-bottom: 5rem;
}

.text_container {
    padding: 0 10rem;
    width: 30rem;
}

/* Contact Us */

.contact {
    justify-content: center;
}

.bg_2 {
    position: absolute;
    align-self: center;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    height: 80vh;
    width: 70vw;
    z-index: -2;
}

.bg_contact {
    z-index: -1;
    font-size: 17vw;
    width: 100%;
    top: 25%;
    left: 0;
    color: transparent;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accent-color);
}

.contact_container {
    align-self: center;
    height: 80vh;
    width: 70vw;
    display: flex;
    align-items: center;
}

.form {
    z-index: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_phone {
    z-index: 1;
    height: 25rem;
}

.label_text {
    font-size: 1.2rem;
    color: var(--text-color2);
}

.form_box {
    width: 20rem;
    padding: 0.7rem;
    border-radius: 0.4rem;
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color2);
}

.f2 {
    height: 8rem;
}

/* Signup page */

.signup {
    flex-direction: column;
    gap: 5rem;
    overflow: visible;
}

.signup_img {
    position: absolute;
    height: 90vh;
    right: 10%;
    bottom: -3.5%;
}

.signup_form {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem;
}

.dark_circle {
    padding: 2rem;
    border-radius: 3rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.dark {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.line_blue {
    width: 80%;
    height: 1px;
    background-color: var(--accent-color);
}

/* page navigation */

ul {
    list-style-type: none;
    font-weight: bold;
}

.dots-wrapper {
    position: fixed;
    display: flex;
    width: 5%;
    height: 80%;
    top: 0;
    right: 0;
    opacity: 0.95;
    z-index: 0;
}

.dots-list {
    position: absolute;
    right: 0;
    margin-top: 8rem;
    margin-right: 25px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 2px var(--text-color);
}

.dot-2,
.dot-3,
.dot-4 {
    margin: 15px 0;
}

.dots-active {
    background-color: var(--text-color);
    animation: bounce 0.5s 1;
    animation-direction: forwards;
}

@keyframes bounce {
    0% {
        transform: translateX(-5px)
    }
}
